{% extends "ratings/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block pagetitle %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="box">
<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
</div>
{% endblock %}
