{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta charset="utf-8"> 
        <title>{% block title %}Rate a Restaurant{% endblock %}</title>
        <link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel ="stylesheet" href="{% static 'style.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-A73teZ6WfI6kv9_RIU5SCoEPJjjX5bY&sensor=false">
    </script>
    
        {% block scripts %}{% endblock %}
</head>
<body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                  <li class="active">
                    <a class="brand" href="{% url 'ratings:index' %}">Rate a Restaurant</a>
                  </li>
		  <li><a href="{% url 'ratings:map' %}">Map</a></li>
		</ul>
		 <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}"> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user"></span>Log In</a></li>
		    <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    {% endif %}
		    {% if user.is_superuser %}
		    <li><a href="{% url 'admin:app_list' 'ratings' %}">Admin</a></li>
		    {% endif %}
		    <li><a href="http://mysite.smg247.webfactional.com">Other Apps</a></li>
                </ul>
            </div>
          </div>
        </div> 
	<div class="content">
        {% block content %}

        {% endblock %}
	</div>
</body>

</html>
