{% extends 'ratings/base.html' %}



{% block content %}
<div class="box">
	<h1>Welcome to Rate a Restaurant</h1>
	<p>Here, you can view all of the restaurants in the St. George area and see their ratings according to guests just like you! You can also add your own ratings in order to help other guests find your favorite restaurant!</p>
	<h3>Restaurants in St. George, UT</h3>	
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Description</th>
		</tr>
		{% for restaurant in restaurants %}
			<tr>
				<td><a href="{%url 'ratings:restaurant_detail' restaurant.id %}">{{restaurant.name}}</a></td>
				<td>{{restaurant.address}} {{restaurant.city}}, {{restaurant.state}}  {{restaurant.zipcode}}</td>
				<td>{{restaurant.desc}}</td>
			</tr>
		{% endfor %}
	</table>

</div>
{% endblock %}
