{% extends 'ratings/base.html' %}

{% block scripts %}
<script type="text/javascript">
// This example displays a marker at the center of Australia.
// When the user clicks the marker, an info window opens.
 
function initialize() {
  var myLatlng = new google.maps.LatLng(37.1097967,-113.5641498);
  var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
 
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 
  
{% for restaurant in restaurants %}
 
  var infowindow{{forloop.counter}} = new google.maps.InfoWindow({
      content: "<a href='{%url 'ratings:restaurant_detail' restaurant.id %}'>{{restaurant.name|safe}}</a> {% if restaurant.reviews %} <br /> Avg Rating: {{restaurant.avg_rating}}{% endif %}<br />{{restaurant.address}} {{restaurant.city}}  {{restaurant.zipcode}}<br />{{ restaurant.desc }}"
  });
  var marker{{forloop.counter}} = new google.maps.Marker({
      position: new google.maps.LatLng({{restaurant.lat}},{{restaurant.lon}}),
      map: map,
      title: "{{restaurant.name|safe}}"
  });
  google.maps.event.addListener(marker{{forloop.counter}}, 'click', function() {
    infowindow{{forloop.counter}}.open(map,marker{{forloop.counter}});
  });
{% endfor %}
}
 
google.maps.event.addDomListener(window, 'load', initialize);
 
</script>
{% endblock scripts %}

{% block content %}
	<h1>Map of Restaurant Locations</h1>

	<div id="map-canvas"/ style="width: 100%; height: 100%;">

{% endblock content %}
