{% extends 'ratings/base.html' %}



{% block content %}
	<div class="box">
	<h1>{{restaurant.name}}</h1>
	<h6>{{restaurant.address}}<br /> {{restaurant.city}}, {{restaurant.state}}  {{restaurant.zipcode}}</h6>
	<p>{{restaurant.desc}}</p>
	<h3>Customer Reviews</h3>
	<p><a href="{%url 'ratings:add_review' restaurant.id %}">Add a Review</a></p>
	{% if restaurant.reviews %}
	<h5>Average Rating:  {{restaurant.avg_rating}}/10</h5>
	
	<table class="table">
		<tr>
			<th>Reviewer</th>
			<th>Rating</th>
			<th>Comment</th>
			<th></th>
			<th></th>
		<tr>
		
		{% for review in restaurant.reviews %}
			<tr>
				<td>{{review.name}}</td>
				<td>{{review.rating}}/10</td>
				<td>{{review.comment}}</td>
				{% if user.id == review.name.id %}
					<td><a href="{% url 'ratings:update_review' restaurant.id review.id %}">Edit</a></td>
					<td><a href="{% url 'ratings:delete_review' restaurant.id review.id %}">Delete</a></td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
			</tr>
		{% endfor %}
	{% endif %}
	</table>
	</div>
{% endblock %}
