{% extends "ratings/base.html" %}

{% block content %}
<div class="input box">
	<h1>Create a new review</h1>
	<form method="POST" action="." id="board-add-form">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Add Review"></input>
	</form>
</div>
{% endblock %}
