{% extends "ratings/base.html" %}

{% block content %}
<div class="input box">
	{% if cur_user %}
	<h1>Update Review</h1>
	<form method="POST" action="." id="board-add-form">
		<table class="form">
		{% csrf_token %}
		{{form}}
		</table>
		<input class="btn" type="submit" value="Update Review"></input>
	</form>
	{% else %}
		<h1>You do not own this review and therefore cannot edit it!</h1>
	{% endif %}
</div>
{% endblock %}
