{% extends "ratings/base.html" %}

{% block content %}
<div class="box">
	{% if cur_user %}
	<h1>Delete Review</h1>
	<form action="" method="post">{% csrf_token %}
    		<p>Are you sure you want to delete "{{ object }}"?</p>
    		<input type="submit" value="Confirm" />
	</form>
	{% else %}
		<h1>You do not own this review and therefore cannot delete it!</h1>
	{% endif %}
</div>
{% endblock %}
