{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
        <meta charset="utf-8"> 
        <title>{% block title %}Rate a Restaurant{% endblock %}</title>
        <link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel ="stylesheet" href="{% static 'style.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% block scripts %}{% endblock %}
</head>
<body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                  <li class="active">
                    <a class="brand" href="{% url 'ratings:index' %}">Rate a Restaurant</a>
                  </li>
		</ul>
            </div>
          </div>
        </div> 
        <div class="content">
        {% block content %}

        {% endblock %}
               	<div class="footer">
                Created by: Stephen Goeddel<br />
                On: 11/20/2013
        </div>
        </div>

</body>

</html>
